<ion-header class="login-header auth-header">
  <ion-navbar>
    <ion-title>Sign in</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">
  <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="doLogin()">
    <img class="logo" src="assets/img/logo.png" alt="parksociallogo">
    <ion-item>
      <ion-input type="input" placeholder="Username" formControlName="username"></ion-input>
    </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password" show-hide-input></ion-input>
      </ion-item>
      <p *ngIf="error">
        {{ error }}
      </p>
    <button ion-button block class="auth-action-button login-button" type="submit" [disabled]="!login.valid">Log in</button>
  </form>
  <ion-row class="alt-options">
    <ion-col no-padding width-50>
      <button ion-button block clear class="signup-button" (click)="signupPage()">Sign up!</button>
    </ion-col>
  </ion-row>
   <div class="signing-waiting" *ngIf="loginIn">
      <ion-spinner name="bubbles"></ion-spinner>
   </div>
  <p class="auth-divider">
    Or
  </p>
  <button ion-button block class="facebook-auth-button" (click)="doFacebookLogin()">Log in with Facebook</button>
</ion-content>
