login-page {
	.login-content
	{
		.alt-options
		{
			.button
			{
				margin: 0px;
				padding: 0px;
				font-size: 1.4rem;
			}

			.forgot-button
			{
				color: #fff;

				.button-inner
				{
				
				}
			}

			.signup-button
			{
				font-weight: 500;
				color: #ae75e7;
;

				.button-inner
				{
					
				}
			}
		}
	}
}
