page-user-login {
	.login-form {
		text-align: center;
	}

	.logo {
		width: 200px;
		padding-top: 20px;
    	padding-bottom: 30px;
	}

	.login-content
	{
		.alt-options
		{
			.button
			{
				margin: 0px;
				padding: 0px;
				font-size: 1.4rem;
			}


			.signup-button
			{
				font-weight: 500;
				color: #ae75e7;
			}
		}
	}
}
