<ion-header class="signup-header auth-header">
  <ion-navbar>
    <ion-title>Sign up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="signup-content auth-content">
  <h2 class="auth-title">Create an account</h2>
  <form class="signup-form auth-form" [formGroup]="signup" (ngSubmit)="doSignup()">
     <ion-item>
      <ion-input type="text" placeholder="First Name" formControlName="firstname"></ion-input>
    </ion-item>
     <ion-item>
      <ion-input type="text" placeholder="Last Name" formControlName="lastname"></ion-input>
    </ion-item>
     <ion-item>
      <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Username" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password" ></ion-input>
    </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Picture" formControlName="picture" disabled></ion-input>
    </ion-item>
     <ion-item>
        Select your picture:
        <ion-icon name="images" on-tap="capture()"></ion-icon>
    </ion-item>
    
     <p *ngIf="error">
        {{ error }}
      </p>
    <button ion-button block class="auth-action-button signup-button" type="submit" [disabled]="!signup.valid">Sign up</button>
    <div class="signing-waiting" *ngIf="signingUp">
    <ion-spinner name="bubbles"></ion-spinner>
    </div>
  </form>
  <p class="auth-divider">
    Or
  </p>
  <button ion-button block class="facebook-auth-button" (click)="doFacebookSignup()">Sign up with Facebook</button>
</ion-content>