loading-modal .container {
  z-index: -1;
  transition: z-index 0.2s step-end;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

loading-modal .container.busy {
  z-index: 9999;
  transition: z-index 0.2s step-start;
}

loading-modal .container.busy .backdrop {
  opacity: 0.3;
}

loading-modal .container .backdrop {
  opacity: 0.01;
  transition: opacity 0.2s;
}

loading-modal .container ion-spinner {
  width: 60px;
  height: 60px;
}
