ion-range {
  padding: 12px 12px 0px;
}

ion-range .range-tick {
  display: none;
}

ion-range .range-bar {
  background: #adadad;
  height: 5px;
}

ion-range .range-bar-active {
  background: #00e9d5 !important;
  height: 5px;
}

page-settings .distance-label {
  color: #8e9093;
  font-size: 1.2em;
}

page-settings .settings-title {
  color: #ae75e7;
  padding-bottom: 10px;
  padding-top: 0px;
  font-size: 1.2em;
}

page-settings .range-item {
  padding: 15px;
  border: none !important;
}

page-settings .range-item .item-inner {
  padding: 0px;
  border: none;
}

page-settings .range-item ion-label {
  flex: 1;
  width: 100%;
  margin: 0px;
}

page-settings .range-item ion-label .range-value {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #adadad;
  flex: 1 0 12%;
  max-width: 100%;
  margin: 0px;
}

page-settings .range-item ion-label .range-value:first-child {
  text-align: left;
}

page-settings .range-item ion-label .range-value:last-child {
  text-align: right;
}

page-settings .range-item ion-label .range-label {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  color: #adadad;
  flex: 0 1 76%;
  max-width: 76%;
  margin: 0px;
}

page-settings .range-item ion-label .range-label:first-child {
  text-align: left;
}

.ion-range .range-knob {
  background: #fff;
}

.ion-range .range-knob {
  background: #fff;
}
