.ios page-reportspot .scroll, .md page-reportspot .scroll {
  height: 100%;
}

.ios page-reportspot #map, .md page-reportspot #map {
  width: 100%;
  height: 65%;
}

.ios page-reportspot .spot-detail-report-description, .md page-reportspot .spot-detail-report-description {
  overflow: inherit;
  font-size: 1.4rem;
  line-height: normal;
  text-overflow: inherit;
  color: #8e9093;
  margin: 0 0 2px;
}

.ios page-reportspot .spot-detail-report, .md page-reportspot .spot-detail-report {
  color: #ae75e7;
  padding-bottom: 10px;
  padding-top: 0px;
  font-size: 1.2em;
}
