.toolbar-title-md {
    color: #fff;
}

.auth-header .toolbar-background {
    border: none !important;
    background-color: #00e9d5;
}

.back-button.show-back-button {
	color:#fff;

	&:hover {
		color:#fff;	
	}
}

.auth-content
{
	padding: 16px 6%;
	
	.scroll-content
	{
		padding: 16px 6%;
	}

	.auth-title
	{
		color: #ae75e7;
		margin-top: 10px;
		margin-bottom: 25px;
	}

	.auth-form
	{
		ion-item {
		

			&.item
			{
				input[type="password"].text-input
				{
					padding-right: 6rem;
				}
			}
		}

		.auth-action-button
		{
		
            margin: 0px;
            margin-top: 20px;
            border-radius: 6px;
            color: #FFFFFF;
            background-color: #00e9d5;
            font-size: 1.6rem;
            font-weight: 500;
			
		}

		.show-hide-password
		{
			.type-toggle
			{
				color: #fff;
				margin: 0px;
				padding: 0px 6px;
				text-align: right;
			}
		}
	}

	.auth-divider
	{
		font-size: 1.6rem;
		color: #fff;
		margin: 20px 0px;
		text-align: center;
	}

	.facebook-auth-button
	{
		margin: 0px;
        border-radius: 6px;
        color: #FFFFFF;
        background-color: #3b5998;
        font-size: 1.6rem;
        font-weight: 500;
	
	}

}