<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Parking Spot</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="selectedSpot">
    <div class="spot-detail-address">
      {{ selectedSpot.address }}
    </div>
    <div>
      <img [src]="staticMapUrl" />
    </div>
    <button class="action-button" (click)="freeMySpot()">Free my spot</button>
    <button class="action-button" (click)="navigateToSpot()">Navigate to Spot</button>
  </div>
  <div class="myspot-noparking" *ngIf="!selectedSpot">
      You haven't parked anywhere yet. Bummer...
    </div>
</ion-content>
