page-parkingspot-list ion-slides {
  height: 70px;
  margin-bottom: 10px;
  padding: 10px;
}

.card-ios {
  margin: 0px;
  margin-bottom: 10px;
  width: 100%;
  height: 80px;
}

.spot-wrapper {
  display: inline;
}

.spot-userpicture {
  display: inline-block;
  width: 24%;
}

.spot-userpicture img {
  width: 50px;
  height: 50px;
}

.spot-card {
  height: 80px;
}

.spot-details {
  display: inline-block;
  width: 60%;
}

.spot-arrow {
  display: inline-block;
}

.img-loaded + ion-spinner {
  display: none;
}
