page-parkingspot-list .nospotsfound {
  margin: 20px;
}

page-parkingspot-list .toolbar-background-md {
  background-color: #00e9d5;
}

page-parkingspot-list .item-avatar {
  padding-right: 0px;
  max-width: 100px;
  padding-right: 15px;
  text-align: center;
}

page-parkingspot-list .avatar-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

page-parkingspot-list .item-content {
  width: 220px;
}

page-parkingspot-list .list-mini-content .list-mini ion-list .list-item .content-row .item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ae75e7;
}

page-parkingspot-list .list-mini-content .list-mini ion-list .list-item .content-row.one-line .item-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

page-parkingspot-list .list-mini-content .list-mini ion-list .list-item .content-row .item-icon {
  text-align: right;
}
