page-parkingspot-list {

	.nospotsfound {
		margin:20px;
   }
  .toolbar-background-md {
    	background-color: #00e9d5;
	}

    .item-avatar {
        padding-right: 0px;
        max-width: 100px;
        padding-right: 15px;
        text-align: center;
    }

    .avatar-image {
        border-radius: 50%;
         height: 50px;
         width: 50px;

    }

    .item-content {
        width: 220px;
    }

	.list-mini-content
	{
	
		.list-mini
		{
	
			ion-list {
				.list-item
				{
					.content-row
					{
						.item-title{
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
                            color:#ae75e7;
						}

    
						&.one-line
						{
							
							.item-description
							{
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}

                        .item-icon {
                            text-align: right;
                        }
					}
				}
			}
		}
	}
}


