page-parkingspot-list ion-slides {
  height: 70px;
  margin-bottom: 10px;
  padding: 10px;
}

.card-ios {
  margin: 0px;
  margin-bottom: 10px;
  width: 100%;
  height: 80px;
}

.spot-wrapper {
  display: inline;
}

.spot-userpicture {
  display: inline-block;
  width: 24%;
}

.spot-details {
  display: inline-block;
  width: 60%;
}

.spot-arrow {
  display: inline-block;
}
